html,
body {
background-image: linear-gradient(0deg,rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url("../images/dbz.png");
background-size: cover;
min-height: 100vh;
}
.jumbotron{
    background-color:transparent;
}
h5{
    font-weight: bold;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#gokuchar{
    position: relative;
    height: 100px;
    background-color:orangered;   
}
.gokuUser{
    position: absolute;
    top:70%;
    left:30%;
    font-weight: bold;
    color:black;
    background-color: white;
}
#vegetachar{
    position: relative;
    height: 100px;
    background-color: blue;
}
.vegetaUser{
    position: absolute;
    top:70%;
    left:30%;
    font-weight: bold;
    color:black;
    background-color: white;
}
#friezachar{
    
    height: 100px;
    background-color:purple;
}
.friezaUser{
    position: absolute;
    top:70%;
    left:30%;
    font-weight: bold;
    color:black;
    background-color: white;
}
#buuchar{
    
    height: 100px;
    background-color : pink;
}
.buuUser{
    position: absolute;
    top:70%;
    left:30%;
    font-weight: bold;
    color:black;
    background-color: white;
}

#gokuen{
    
    height: 100px;
    background-color: orangered;
}
#vegetaen{
    
    height: 100px;
    background-color: blue;
}
#friezaen{
    
    height: 100px;
    background-color: purple;
}
#buuen{
    
    height: 100px;
    background-color: pink;
}
#gokudef{
    
    height: 100px;
    background-color: orangered;
}
#vegetadef{
    
    height: 100px;
    background-color: blue;
}
#friezadef{
    
    height: 100px;
    background-color: purple;
}
#buudef{
    
    height: 100px;
    background-color: pink;
}
#userStats{
    font-size:medium;
    font-weight: bold;
}

#enemyStats{
    font-size:medium;
    font-weight: bold;
}

#player{
    font-size:xx-large;
    font-weight: bold;
}

#enemy{
    font-size:xx-large;
    font-weight: bold;
}



